<nav  class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="HeaderController">
	<ul class="nav navbar-top-links navbar-right">

		
		<li><a href="" ng-click="logout()" ng-if="showheader"><span
						class="glyphicon glyphicon-log-in"></span> Logout</a></li>
		<!-- <li ng-if="LOGGED_IN_USER!=null">
			<span class="m-r-sm text-muted welcome-message">Welcome
				{{name}}</span></li> -->
		<!-- <li ng-if="LOGGED_IN_USER!=null">
			<a href="#logout" ng-click="logout()"> <i class="fa fa-sign-out"></i> Log out
			</a>
		</li> -->
	</ul>

</nav>